<html>
<head>
  <title>Timetable Management System</title>
  <% include ./head %>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <% include ./header %>

  <div class="mt-3 container">
    <div class="row">
      <div class="col-3"></div>
      <div class="div-date col text-center mb-3">
        <div class="row">
          <div class="col-1">
            <a href="#" id="prev-week-button">Prev</a>
          </div>
          <div class="div-date text-center col" id="ym-label">2018 May - 2018 June</div>
          <div class="col-1 mr-2">
            <a href="#" id="next-week-button">Next</a>
          </div>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="group col-3">
        <button class="btn-add btn btn-lg btn-primary btn-block mb-3" data-toggle="modal" data-target="#modal-add-schedule">Add</button>

        <!-- Add Schedule Modal -->
        <div class="modal fade" id="modal-add-schedule" tabindex="-1" role="dialog" aria-labelledby="modalAddScheduleTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header"> 
                <h5 class="modal-title" id="modalAddScheduleTitle">Add New Schedule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="personal-tab" href="#personal" data-toggle="tab" role="tab" aria-controls="personal" aria-selected="true">Personal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="group-tab" data-toggle="tab" href="#group" role="tab" aria-controls="group" aria-selected="false">Group</a>
                  </li>
                </ul>
                <div class="tab-content container">
                  <!-- Personal Tab -->
                  <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                    <form class="form-group pt-4">
                      <label for="schedulePersonalTitleInput"><h5>Title</h5></label>
                      <input type="text" class="mb-4 form-control" id="schedulePersonalTitleInput">
                      <div class="row">
                        <div class="col">
                          <label for="schedulePersonalStartTimeInput"><h5>Start Time</h5></label>
                          <input type="datetime-local" class="form-control" id="schedulePersonalStartTimeInput">
                        </div>
                        <div class="col">
                          <label for="schedulePersonalEndTimeInput"><h5>End Time</h5></label>
                          <input type="datetime-local" class="form-control" id="schedulePersonalEndTimeInput">
                        </div>
                      </div>
                    </form>
                  </div>

                  <!-- Group Tab-->
                  <div class="tab-pane fade" id="group" role="tabpanel" aria-labelledby="group-tab">
                    <form class="form-group row pt-4">
                      <div class="col col-5">
                        <label for="scheduleGroupTitleInput"><h5>Title</h5></label>
                        <input type="text" class="mb-4 form-control" id="scheduleGroupTitleInput">
                        <div class="mb-4">
                          <div class="form-group">
                            <label for="scheduleGroupStartTimeInput"><h5>Start Time</h5></label>
                            <input type="datetime-local" class="form-control" id="scheduleGroupStartTimeInput">
                          </div>
                          <div class="form-group">
                            <label for="scheduleGroupEndTimeInput"><h5>End Time</h5></label>
                            <input type="datetime-local" class="form-control" id="scheduleGroupEndTimeInput">
                          </div>
                        </div>
                        <label for="scheduleGroupSelectInput"><h5>Participating Group</h5></label>
                        <input type="text" class="mb-4 form-control" id="scheduleGroupSelectInput">
                      </div>
                      <div class="col col-7">
                        <div class="div-date-group row mb-3">
                          <div class="col col-2 my-auto">
                            <a href="#" id="prev-week-button-group">Prev</a>
                          </div>
                          <div class="div-date text-center col" id="ym-label-group">2018 May - 2018 June</div>
                          <div class="col col-2 my-auto">
                            <a href="#" id="next-week-button-group">Next</a>
                          </div>
                        </div>
                        <div class="col table-group-schedule-dv">
                          <table class="table table-group-schedule" id="schedule">
                            <thead>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col" class="pl-1">
                                  <span class="date" id="date-group-value-0">27</span>
                                  <span class="dd text-danger">Sun</span>
                                </th>
                                <th scope="col" class="pl-1">
                                  <span class="date" id="date-group-value-1">28</span>
                                  <span class="dd">Mon</span>
                                </th>
                                <th scope="col" class="pl-1">
                                  <span class="date" id="date-group-value-2">29</span>
                                  <span class="dd">Tue</span>
                                </th>
                                <th scope="col" class="pl-1">
                                  <span class="date" id="date-group-value-3">30</span>
                                  <span class="dd">Wed</span>
                                </th>
                                <th scope="col" class="pl-1">
                                  <span class="date" id="date-group-value-4">31</span>
                                  <span class="dd">Wed</span>
                                </th>
                                <th scope="col" class="pl-1">
                                  <span class="date" id="date-group-value-5">1</span>
                                  <span class="dd">Fri</span>
                                </th>
                                <th scope="col" class="pl-1">
                                  <span class="date" id="date-group-value-6">2</span>
                                  <span class="dd text-primary">Sat</span>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <% for (var h = 0; h < 24; h++) { %>
                              <tr>
                                <th scope="row"><%= h %>:00</th>
                                <% for (var i = 0; i < 7; i++) { %>
                                <td id="timecell-group-<%=h %>-<%=i %>"></td>
                                <% } %>
                              </tr>
                              <% } %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add-schedule">Add Schedule</button>
              </div>
            </div>
          </div>
        </div>

        <div class="group-list" id="group-list">
          <!-- TO DO: group list 받기 -->
          <!-- This is placeholder for group list!
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Group A</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck2">
            <label class="custom-control-label" for="customCheck2">Group B</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck3">
            <label class="custom-control-label" for="customCheck3">Group C</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck4">
            <label class="custom-control-label" for="customCheck4">Group D</label>
          </div>-->

          <div class="div-add-group">
            <a class="link" data-toggle="modal" data-target="#modal-add-group" href="#">Add New Group</a>

            <!-- Add Group Modal -->
            <div class="modal fade" id="modal-add-group" tabindex="-1" role="dialog" aria-labelledby="modalAddGroupTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalAddGroupTitle">Add New Group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="form-group pt-2">
                      <label for="groupNameInput"><h5>Group Name</h5></label>
                      <input type="text" class="mb-4 form-control" id="groupNameInput">
                      <label for="groupMemberInput"><h5>Member</h5></label>
                      <input type="text" class="form-control" id="groupMemberInput">
                      <ul class="list-group group-member" id="groupMemberList">
                        <!-- TO DO: Member 추가해서 집어넣는 js 추가 -->
                        <!-- This is placeholder for group-create member list!
                        <li class="list-group-item list-group-item-action">Member A</li>
                        <li class="list-group-item list-group-item-action">Member B</li>
                        <li class="list-group-item list-group-item-action">Member C</li>
                        <li class="list-group-item list-group-item-action">Member D</li>
                        -->
                      </ul>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="add-group">Add Group</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col">
        <div class="table-schedule-dv table-responsive">
          <!-- TO DO: schedule list 받기 -->
          <table class="table table-schedule" id="schedule">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">
                  <span class="date" id="date-value-0">27</span>
                  <span class="text-danger">Sun</span>
                </th>
                <th scope="col"><span class="date" id="date-value-1">28</span>Mon</th>
                <th scope="col"><span class="date" id="date-value-2">29</span>Tue</th>
                <th scope="col"><span class="date" id="date-value-3">30</span>Wed</th>
                <th scope="col"><span class="date" id="date-value-4">31</span>Thu</th>
                <th scope="col"><span class="date" id="date-value-5">1</span>Fri</th>
                <th scope="col">
                  <span class="date" id="date-value-6">2</span>
                  <span class="text-primary">Sat</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <% for (var h = 0; h < 24; h++) { %>
              <tr>
                <th scope="row"><%= h %>:00</th>
                <% for (var i = 0; i < 7; i++) { %>
                <td id="timecell-<%=h %>-<%=i %>"></td>
                <% } %>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="schedule-detail-test" style="position: relative;float: right;">
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modal-schedule-detail">Schedule Detail Modal Test</button>
    </div>
    <!-- Schedule Detail Modal -->
    <div class="modal fade" id="modal-schedule-detail" tabindex="-1" role="dialog" aria-labelledby="modalScheduleDetailTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalScheduleDetailTitle">Schedule Detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h2 class="mb-3">Title</h2>
            <div class="schedule-info row mb-3">
              <div class="col col-3 text-primary font-weight-bold">Start Time</div>
              <div class="col col-9" id="schedule-detail-start-time">2018-06-05 09:00</div>
              <div class="w-100"></div>
              <div class="col col-3 text-primary font-weight-bold">End Time</div>
              <div class="col col-9" id="schedule-detail-start-time">2018-06-05 10:00</div>
            </div>
            <div class="schedule-info-group" id="schedule-info-group-div">
              <p class="font-weight-bold">Participated Group:</p>
              <p class="ml-4" id="schedule-info-group-name">Group A</p>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include ./footer %>
  <script src="js/index.js"></script>
</body>
</html>
