<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class="mt-5 container">
      <h1>Sign up</h1>

      <form class="mt-4 form-signin">
          <input type="email" class="mb-2 form-control" id="emailInput" placeholder="Enter email" required autofocus>

          <input type="password" class="form-control" id="passwordInput" placeholder="Password" required>
          <input type="password" class="form-control" id="passwordInputConfirm" placeholder="Re-enter Password" required>
        <button type="submit" class="btn btn-primary mt-2">Sign up</button>
      </form>
    </div>
  </body>
</html>