/* main.html */

.table-responsive {
	height: 75%;
}

.div-date {
	font-size: 24px;
	font-weight: 300;
}

.div-add-group {
	position: absolute;
	bottom: 0;
}

.table {
	table-layout: fixed;
}

.table-schedule th {
	font-weight: 600;
}

.table-schedule td, .table-schedule th {
	padding: 0 0.75em 1.5em 0.75em;
	border-top: 0;
	border-bottom: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
}

.table-schedule thead th {
	padding: 0.75em;
}

.table-schedule-dv .date {
	font-size:30px;
	font-weight: 400;
	margin-right: 5px
}

.modal-header {
	background-color: rgb(0,0,0,0.03);
}
 
.list-group-item {
	padding: .50rem 1.25rem;
}

input#groupMemberInput {
	border-bottom: 2px solid gray;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.group-member {
	height: 250px;
}

.list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.table-group-schedule-dv {
	height: 50%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;		
}

.table-group-schedule{
	height: 50%;
	overflow-y: scroll;
	padding: 0;		
}

.table-group-schedule td, .table-group-schedule th {
	padding: 0;
	border-top: 0;
	border-bottom: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
}

.table-group-schedule-dv .date {
	font-weight: 600;
}

.table-group-schedule th {
	font-weight: 600;
}

.table-group-schedule .dd {
	font-size: 10px;
	font-weight: 300;
}

.div-date-group {
	font-size: 18px;
	font-weight: 300;
}
