/* main.html */

.table-responsive {
	height: 75%;
}

.div-date {
	font-size: 24px;
	font-weight: 300;
}

.div-add-group {
	position: absolute;
	bottom: 0;
}

.table {
	table-layout: fixed;
}

.table th {
	font-weight: 600;
}

.table td, .table th {
	padding: 0 0.75em 1.5em 0.75em;
	border-top: 0;
	border-bottom: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
}

.table thead th {
	padding: 0.75em;
}

.table-schedule .date {
	font-size:30px;
	font-weight: 400;
	margin-right: 5px
}

.modal-header {
	background-color: rgb(0,0,0,0.03);
}
 
.list-group-item {
	padding: .50rem 1.25rem;
}

input#groupMemberInput {
	border-bottom: 2px solid gray;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.group-member {
	height: 250px;
}

.list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
/*
.first-group-member {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}*/
